
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-top: 30px;
}
        form {
            background-color: #0d0d0d;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 300px;
        }
        h2 {
            text-align: center;
            margin-bottom: 20px;
        }
        input[type="text"] {
            width: calc(100% - 22px); /* Subtracting the padding and border width */
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
        input[type="submit"] {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        input[type="submit"]:hover {
            background-color: #0056b3;
        }